<%= form_for([@micropost, @comment]) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "コメントを入力してください" %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>