<div class="stats">
  <strong id="following" class="stat">
    <%= user.following.count %>フォロー
  </strong>
  <strong id="followers" class="stat">
    <%= user.followers.count %> フォローワー
  </strong>
</div>